<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FindTrip|Order|Return</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/error.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" >
    <div th:replace="/home/adminHeader :: acss"></div>
</head>
<body>
 <div th:replace="/home/clientHeader :: client-header"/>
 <div>

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" th:text="#{text.return-tickets}"></h5>
            <h5 class="modal-title"  th:text="#{text.order}+' №'+${order.id}"></h5>
          </div>
          <div class="modal-body">
            <h3 class="card-text" th:text="#{text.count-tickets}+': '+${order.ticketDTOList.size()}"></h3>
            <h3 class="card-text" th:text="#{text.seat-price}+'($): '+${order.ticketDTOList.get(0).price}"></h3>
            <h3 class="card-text" th:text="#{text.final-cost}+'($): '+${order.finalCost}"></h3>
            <input type="hidden" id="order_id" th:value="${order?.id}">
            <input type="hidden" id="countTickets" th:value="${order.ticketDTOList.size()}">
            <input type="hidden" id="priceOneSeat" th:value="${order.ticketDTOList.get(0).price}">
            <div style="display: flex; flex-direction: row;" class="text-center">
              <div class="container " style="width: 400px">
              <h3 for="allSeats" class="col-form-label" th:text="#{text.return-tickets}"></h3>
              <input placeholder="Enter a number" name="allSeats" id="returnTickets" required type="number"  min="0" value="0"  step="1"/>
              <p type="text" class="error" id="error_text"></p>
              </div>
              <div class="container " style="width: 400px; padding-left: 10px">
               <h2 for="returnMoney" class="col-form-label"  style="margin-left: -50px" th:text="#{text.return-money}"></h2>
               <div class="input-group" style="width: 150px" >
                    <div class="input-group-prepend" style="height: 50%">
                         <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" id="returnMoney" data-decimals="2" readonly value="0">
               </div>
              </div>

            </div>

          </div>
          <div class="modal-footer">
            <a  class="btn btn-secondary" th:href="@{/orders/client}" th:text="#{bt.back}"></a>
            <button type="button" id="returnBtn" class="btn btn-primary" th:text="#{bt.submit}"></button>
          </div>
        </div>
      </div>

 </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script th:src="@{/static/script/bootstrap-input-spinner.js}"></script>
  <script type="text/javascript" th:src="@{/static/script/js.js}"></script>
</html>