<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FindTrip|Flight|Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="home/adminHeader :: acss"></div>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="home/adminHeader :: admin-header"/>
</div>
<div sec:authorize="hasRole('ROLE_WORKER')">
  <div th:replace="home/workerHeader :: worker-header"/>
</div>


<div class="container my-md-2" style="width: 70%">
    <div class="card">
        <div class="card-body">
            <div th:switch="${orders}" class="container my-md-4">
                   <div class="col-md-4">
                    <h2 th:case="null" th:text="#{text.record.found}"></h2>
                    <div th:case="*">
                        <table class="table table-hover" style="width: 340% ; margin-left: -30px">
                            <thead>
                            <tr>
                                <th th:text="#{text.order}+'#'"></th>
                                <th th:text="#{text.order-date}"></th>
                                <th th:text="#{text.count-tickets}"></th>
                                <th th:text="#{text.login}"></th>
                                <th th:text="#{text.phoneNumber}"></th>
                                <th th:text="#{text.email}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.id}"></td>
                                <td th:text="${order.orderDate}"></td>
                                <td th:text="${order.ticketDTOList.size()}"></td>
                                <td th:text="${order.userDTO.login}"></td>
                                <td th:text="${order.userDTO.phoneNumber}"></td>
                                <td th:text="${order.userDTO.email}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
              <div class="modal-footer">
               <a th:href="@{/flights}"> <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{bt.back}"></button></a>
              </div>
        </div>
    </div>
</div>

</body>
</html>
