<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="/home/adminHeader :: acss"></div>
</head>

<body>
<!--/*@thymesVar id="users" type="com.sam_solutions.findtrip.controller.UserController"*/-->
<div th:replace="/home/adminHeader :: admin-header"></div>
<div class="container my-2 col-lg-10">
    <div class="card">
        <div class="card-body">

            <div th:switch="${users}" class="container my-9">
                <p class="my-9">
                    <a th:href="@{/users/edit(role=${role})}" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2" th:text="#{text.add-user}"></i></a>
                </p>

                <div class="col-md-4">
                    <h2 th:case="null" th:text="#{text.record.found}"></h2>
                    <div th:case="*">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{text.login}"></th>
                                <th th:text="#{text.password}"></th>
                                <th th:text="#{text.email}"></th>
                                <th th:text="#{text.firstName}"></th>
                                <th th:text="#{text.lastName}"></th>
                                <th th:text="#{text.patronymic}"></th>
                                <th th:text="#{text.phoneNumber}"></th>
                                <th th:text="#{text.edit}"></th>
                                <th th:text="#{text.delete}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.patronymic}"></td>
                                <td th:text="${user.phoneNumber}"></td>
                                <td>
                                    <a th:href="@{ /users/edit/{id} (id=${user.id}) }"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/users/delete(id=${user.id},role=${role})}"
                                       class="btn btn-primary" onclick="return confirm('Are you sure?')">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
