
.formerror {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}


input:invalid:not(:placeholder-shown){border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

input:invalid:not(:placeholder-shown) + .formerror {
    display: block;
}


