<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       >
<head>
  <meta charset="UTF-8">
  <meta name="docsearch:language" content="en">
  <title>Home Admin Page</title>
<div th:replace="adminHeader :: acss"></div>
</head>

<body>
<div th:replace="adminHeader :: admin-header"/>

<div class="starter-template">
        <h1>Admin Home Page (Spring Security protected)</h1>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    </div>

    <div th:replace="footer :: footer"/>
</body>

</html>