<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       >
<head>
  <meta charset="UTF-8">
  <meta name="docsearch:language" content="en">
  <title>Home Client Page</title>
  <link  rel="stylesheet" type="text/css" th:href="@{/static/css/lang.css}" >
<div th:replace="clientHeader :: ccss"></div>
</head>

<body>
<div th:replace="clientHeader :: client-header"/>

<div class="starter-template">
    <div class="menu-lang-home">
        <a th:href="@{?lang=en_Us}" class="en-us" ><img th:src="@{/static/images/en.svg}" width="22" height="22" alt="lang_en"></a>
        <a th:href="@{?lang=fr}" class="fr" ><img th:src="@{/static/images/fr.svg}" width="22" height="22" alt="lang_fr"></a>
        <a th:href="@{?lang=de}" class="de" ><img th:src="@{/static/images/de.svg}" width="22" height="22" alt="lang_de"></a>
    </div>
        <h1>Home Client Page (Spring Security protected)</h1>
        <h1 th:inline="text" th:text="#{text.hello}"> [[${#httpServletRequest.remoteUser}]]!</h1>

    </div>

<div th:replace="footer :: footer"/>
</body>
</html>