<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="header :: header-css"/>

</head>
<body>

<div th:replace="header :: header"/>

<div class="container">
    <h3>This page will be deleted</h3>
    <div class="starter-template">
        <h2><a th:href="@{/home}"> Home page</a></h2>
    </div>

    <p>Find Trip Page | Page without permissions </p>

</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>
</html>