<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/error.css">

</head>

<body>
<!--/*@thymesVar id="users" type="by.sum_solutions.findtrip.controller.UserController"*/-->
    <div class="container my-2 col-lg-10">
    <div class="card">
    <div class="card-body">

        <div th:switch="${users}" class="container my-9">
            <p class="my-9">
                <a href="/users/adminRegistration" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add User </i></a>
            </p>
            <div class="col-md-4">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Patronymic</th>
                                <th>Phone number</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.patronymic}"></td>
                                <td th:text="${user.phoneNumber}"></td>
                                <td>
                                    <a th:href="@{ /users/edit/{id} (id=${user.id}) }"
                                             class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/users/delete/{id}(id=${user.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
