<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flight | Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/error.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.min.css}" >
    <div th:replace="/home/adminHeader :: acss"></div>
</head>
<body>
 <div th:replace="/home/workerHeader :: worker-header"/>
<div class="myForm" style="margin-left: -60%">

            <div class="" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
            <div class="modal-dialog " role="document">
                <div class="modal-content" style="width: 280%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{text.edit}"></h5>
                    </div>
                    <input type="hidden" id="id" th:value="${id}" th:name="id">
                <div class="modal-body">


                   <div class="modal-content">
                   <div class="card-body">
                       <div class="row vdivide">
                            <div class="col-sm-4 text-center">
                                <h5 class="card-title" th:text="#{text.country}+':'"></h5>
                                <div class="control-group">
                                      <div style="display: flex; flex-direction: row;">
                                        <div>
                                         <a class="btn btn-outline-info btn-sm " id="edt_country_fr" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                         <a for="country_fr" id="h_country_fr" class="col-form-label" ><b th:text="#{text.from}"></b></a>
                                         <select class="form-control col-lg-auto" name="idCountry_fr"  id="select_country_fr" required >
                                             <option th:each="country : ${countries_fr}" th:value="${country.id}" th:text="${country.name}"  ></option>
                                         </select>
                                        </div>
                                        <div style="padding-left: 10px">
                                        <a class="btn btn-outline-info btn-sm " id="edt_country_to" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                        <a for="country_to" class="col-form-label" ><b th:text="#{text.to}"></b></a>
                                        <select class="form-control col-lg-auto " name="idCountry_to" id="select_country_to"  required>
                                            <option th:each="country : ${countries_to}" th:value="${country.id}" th:text="${country.name}"  ></option>
                                        </select>
                                         </div>
                                      </div>
                                </div>

                            </div>

                            <div class="col-sm-4 text-center">
                                 <h5 class="card-title" th:text="#{text.city}+':'"></h5>

                                <div class="control-group ">
                                      <div style="display: flex; flex-direction: row;">
                                        <div>
                                         <a class="btn btn-outline-info btn-sm " id="edt_city_fr" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                         <a for="city_fr" class="col-form-label" ><b th:text="#{text.from}"></b></a>
                                        <select class="form-control col-lg-auto" name="idCity_fr" id="select_city_fr"  required>
                                            <option th:each="city : ${cities_fr}" th:value="${city.id}" th:text="${city.name}"></option>
                                        </select>
                                        </div>
                                        <div style="padding-left: 10px">
                                         <a class="btn btn-outline-info btn-sm " id="edt_city_to" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                        <a for="country_to" class="col-form-label" ><b th:text="#{text.to}"></b></a>
                                        <select class="form-control col-sm-auto" name="idCity_to" id="select_city_to"  required>
                                             <option th:each="city : ${cities_to}" th:value="${city.id}" th:text="${city.name}"></option>
                                         </select>
                                         </div>
                                      </div>
                                </div>

                            </div>

                            <div class="col-sm-4 text-center">
                                <h5 class="card-title" th:text="#{text.airport}+':'"></h5>

                                <div class="control-group">
                                      <div style="display: flex; flex-direction: row;">
                                        <div>
                                         <a class="btn btn-outline-info btn-sm " id="edt_airport_from" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                         <a for="airport_fr" class="col-form-label" ><b th:text="#{text.from}"></b></a>
                                        <select class="form-control col-lg-auto"  name="idAirport_fr" id="select_airport_fr"  required>
                                            <option th:each="airport : ${airports_fr}"   th:value="${airport.id}" th:text="${airport.name}+'('+${airport.code}+')'"></option>
                                        </select>
                                        </div>
                                        <div style="padding-left: 10px">
                                        <a class="btn btn-outline-info btn-sm " id="edt_airport_to" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                        <a for="airport_to" class="col-form-label" ><b th:text="#{text.to}"></b></a>
                                        <select class="form-control col-sm-auto" name="idAirport_to" id="select_airport_to"  required>
                                             <option th:each="airport : ${airports_to}"  th:value="${airport.id}" th:text="${airport.name}+'('+${airport.code}+')'"></option>
                                         </select>
                                         </div>
                                      </div>
                                </div>
                            </div>
                       </div>
                   </div>
                 </div>

                   <div class="modal-content ">
                    <div class="card-body ">
                        <div class="row vdivide ">

                             <div class="col-sm-4 text-center">
                                <h5 class="card-title" th:text="#{text.date}+':'"></h5>

                                      <div style="display: flex; flex-direction: row;">
                                        <div class="container " style="width: 400px">
                                        <h3 for="airport_fr" class="col-form-label" th:text="#{text.time-departure}"></h3>
                                        <input type="text" th:name="picker1" th:value="${picker1}" id="picker1" class="form-control far">
                                        </div>
                                        <div class="container " style="width: 400px; padding-left: 10px">
                                        <h3 for="airport_fr" class="col-form-label" th:text="#{text.time-arrival}"></h3>
                                        <input type="text" th:name="picker2" th:value="${picker2}" id="picker2" class="form-control far">
                                        </div>
                                      </div>

                            </div>

                             <div class="col-sm-4 text-center">
                                 <h5 class="card-title" th:text="#{text.company}+':'"></h5>

                                 <div class="control-group">
                                       <div style="display: flex; flex-direction: row;">
                                         <div>
                                         <a class="btn btn-outline-info btn-sm " id="edt_company" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                          <a for="company" class="col-form-label" ><b th:text="#{text.select-company}"></b></a>
                                          <select class="form-control col-lg-auto" name="idCompany"  id="select_company" required >
                                              <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"  ></option>
                                          </select>
                                         </div>
                                       </div>
                                 </div>

                             </div>

                             <div class="col-sm-4 text-center">
                                  <h5 class="card-title" th:text="#{text.plane}+':'"></h5>

                                 <div class="control-group ">
                                       <div style="display: flex; flex-direction: row;">
                                         <div>
                                          <a class="btn btn-outline-info btn-sm " id="edt_plane" style="margin-bottom: 5px"><i class="far fa-edit fa-sm"></i></a>
                                          <a for="plane" class="col-form-label" ><b th:text="#{text.select-plane}"></b></a>
                                         <select class="form-control col-lg-auto" name="idPlane" id="select_plane"  required>
                                             <option th:each="plane : ${planes}" th:value="${plane.id}" th:text="${plane.sideNumber}"></option>
                                         </select>
                                         </div>
                                       </div>
                                 </div>

                             </div>

                        </div>
                    </div>
                   </div>

                   <div class="modal-content">
                    <div class="card-body">
                        <div class="row vdivide justify-content-center">

                             <div class="text-center">
                                <h5 class="card-title" th:text="#{text.seats-info}+':'"></h5>

                                      <div style="display: flex; flex-direction: row;" class="text-center">
                                        <div class="container " style="width: 250px">
                                            <h3 for="allSeats" class="col-form-label" th:text="#{text.all-seats}"></h3>
                                             <input placeholder="Enter a number" name="allSeats" th:value="${allSeats}" id="allSeatsEdit" required type="number"  min="0" max="300" step="1"/>
                                        </div>
                                        <div class="container " style="width: 250px; padding-left: 10px">
                                            <h3 for="freeSeats" class="col-form-label" th:text="#{text.free-seats}"></h3>
                                             <input placeholder="Enter a number" th:value="${freeSeats}" id="freeSeatsEdit" required type="number"  min="0" step="1"/>
                                        </div>
                                        <div class="container " style="width: 250px; padding-left: 10px">
                                            <h3 for="price" class="col-form-label" th:text="#{text.seat-price}"></h3>
                                             <input data-prefix="$"  data-decimals="2" name="price" th:value="${price}" id="price" min="0" max="10000" step="0.1" type="number" placeholder="Enter ticket price" required/>
                                        </div>
                                        <div class="container " style="width: 250px; padding-left: 10px">
                                            <h3 class="col-form-label"  th:text="#{text.number-tickets-sold}"></h3>
                                            <div class="input-group" style="width: 150px" >

                                              <input type="text" class="form-control" id="soldTickets" th:value="${soldTickets}"  readonly>
                                            </div>
                                        </div>
                                      </div>

                             </div>




                        </div>
                    </div >
                   </div>
                        <div>
                           <p id="error-dates" class="text-danger text-left "></p>
                           <span class="error"
                             th:text="#{${'text.error.' + apiError?.getMessage()}}"
                             th:unless="${apiError == null}">Nothing</span>
                          </div>
                 </div>
                    <div class="modal-footer">
                        <a th:href="@{/flights}"> <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{bt.back}"></button></a>
                        <button type="button" class="btn btn-primary" id="edit" th:text="#{bt.save}"/></div>
                    </div>
                </div>
            </div>
        </div>

</div>



 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script th:src="@{/static/datetimepicker/jquery.datetimepicker.full.min.js}"></script>
 <script th:src="@{/static/script/bootstrap-input-spinner.js}"></script>
 <script type="text/javascript" th:src="@{/static/script/editFlight.js}" src="../static/script/flight.js"></script>
</body>
</html>

