<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="UTF-8">
  <meta name="docsearch:language" content="en">
  <div th:fragment="acss">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/components/navbar/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
</head>
<body>
<div th:fragment="admin-header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">FindTrip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/home}" ><i class="fa fa-home"></i><span th:text="#{text.home}"></span></a>
      </li>
      <li class="nav-item">
              <a class="nav-link" th:href="@{/companies}" th:text="#{text.companies}"></a>
      </li>
      <li class="nav-item ">
              <a class="nav-link" th:href="@{/flights}" th:text="#{text.flights}"></a>
      </li>
       <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{text.data}">

               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" th:href="@{/country}" th:text="#{text.countries}+'|'+#{text.cities}"></a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" th:href="@{/airports}" th:text="#{text.airports}"></a>
               </div>
       </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/users" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{text.users}">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/users?&role=ROLE_ADMIN}" th:text="#{text.admins}"></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/users?&role=ROLE_CLIENT}" th:text="#{text.clients}"></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/users?&role=ROLE_WORKER}" th:text="#{text.workers}"></a>
        </div>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{bt.log-out}"></button>
    </form>
  </div>
</nav>
</div>
</body>
</html>