<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       >
<head>
  <meta charset="UTF-8">
  <meta name="docsearch:language" content="en">
  <title>Home</title>
  <link  rel="stylesheet" type="text/css" th:href="@{/static/css/lang.css}" >
<div th:replace="home/adminHeader :: acss"></div>

</head>

<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="home/adminHeader :: admin-header"/>
</div>
<div sec:authorize="hasRole('ROLE_CLIENT')">
 <div th:replace="home/clientHeader :: client-header"/>
</div>
<div sec:authorize="hasRole('ROLE_WORKER')">
  <div th:replace="home/workerHeader :: worker-header"/>
</div>

<div class="starter-template">
    <input type="hidden" th:value="${id}" th:name="id">
    <form class="form-inline my-3 my-lg-0">
               <a th:href="@{/users/edit/{id}(id=${id})}"
                                                     class="btn btn-info" style="margin-left:88%; margin-top: -55px; z-index: 2" >
                                                      <i class="fas fa-user-edit ml-2"></i></a>
        </form>
    <div class="menu-lang-home" >
        <a th:href="@{?lang=en_Us}" class="en-us" ><img th:src="@{/static/images/en.svg}" width="22" height="22" alt="lang_en"></a>
        <a th:href="@{?lang=fr}" class="fr" ><img th:src="@{/static/images/fr.svg}" width="22" height="22" alt="lang_fr"></a>
        <a th:href="@{?lang=de}" class="fr" ><img th:src="@{/static/images/de.svg}" width="22" height="22" alt="lang_de"></a>
        <a th:href="@{?lang=ru}" class="de" ><img th:src="@{/static/images/ru.svg}" width="22" height="22" alt="lang_ru"></a>
    </div>

        <h1>Home Page (Spring Security protected)</h1>
</div>
    <div class="modal-footer" style="margin-top: 38%">
    <div th:replace="footer :: footer"/>
    </div>
</body>

</html>